<script type="text/javascript">
    $("#HomeHref").addClass("active");
</script>
<div class="row">
    <div class="col-lg-6">
        <div class="col-lg-8 mb-4 offset-2">
            <div class="card bg-primary text-white shadow">
                <div class="card-body text-center">
                    <a class="text-white" target="_blank" href="/Administration/Customer">
                        Clients
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="col-lg-8 mb-4 offset-2">
            <div class="card bg-primary text-white shadow">
                <div class="card-body text-center">
                    <a class="text-white" target="_blank" href="/Administration/Users">
                        Utilisateurs
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="col-lg-8 mb-4 offset-2">
            <div class="card bg-info text-white shadow">
                <div class="card-body text-center">
                    <a class="text-white" target="_blank" href="/Stock/Index">Stock Ouvert</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="col-lg-8 mb-4 offset-2">
            <div class="card bg-info text-white shadow">
                <div class="card-body text-center">
                    <a class="text-white" target="_blank" href="/Stock/References">Stock Fermé</a>
</div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="col-lg-8 mb-4 offset-2">
            <div class="card bg-success text-white shadow">
                <div class="card-body text-center">
                    <a class="text-white" target="_blank" href="/Vente/Index">Ventes</a>

                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="col-lg-8 mb-4 offset-2">
            <div class="card bg-success text-white shadow">
                <div class="card-body text-center">
                    <a class="text-white" target="_blank" href="/Home/statistics">Statistiques</a>

                </div>
            </div>
        </div>
    </div>

</div>